on post-fs-data
    mkdir /data/logger 0775 system system

# kernel log
service log-kernel /system/bin/sh /system/etc/logger_kernel.sh
    class late_start
	disabled
	oneshot

on property:persist.service.kernel.enable=1
    start log-kernel

on property:persist.service.kernel.enable=0
    stop log-kernel

# logcat main
service logcat-main /system/bin/sh /system/etc/logger_main.sh
    class late_start
	disabled
	oneshot

on property:persist.service.main.enable=1
	start logcat-main

on property:persist.service.main.enable=0
	stop logcat-main

# logcat system
service logcat-system /system/bin/sh /system/etc/logger_system.sh
    class late_start
	disabled
	oneshot

on property:persist.service.system.enable=1
	start logcat-system

on property:persist.service.system.enable=0
	stop logcat-system

# logcat radio
service logcat-radio /system/bin/sh /system/etc/logger_radio.sh
    class late_start
	disabled
	oneshot

on property:persist.service.radio.enable=1
	start logcat-radio

on property:persist.service.radio.enable=0
	stop logcat-radio

# logcat events
service logcat-events /system/bin/sh /system/etc/logger_events.sh
    class late_start
	disabled
	oneshot

on property:persist.service.events.enable=1
	start logcat-events

on property:persist.service.events.enable=0
	stop logcat-events

# Log size change when Internal Storage full
# This property, persist.service.log.lowstorage, is set by
# vendor/lge/apps/HiddenMenu/src/com/lge/hiddenmenu/wcdma_only/log_service/StorageStatusReceiver.java
on property:persist.service.log.lowstorage=1
    stop log-kernel
    start log-kernel
    stop logcat-main
    start logcat-main
    stop logcat-system
    start logcat-system
    stop logcat-radio
    start logcat-radio
    stop logcat-events
    start logcat-events
    stop log-packet

on property:persist.service.log.lowstorage=0
    stop log-kernel
    start log-kernel
    stop logcat-main
    start logcat-main
    stop logcat-system
    start logcat-system
    stop logcat-radio
    start logcat-radio
    stop logcat-events
    start logcat-events
    start log-packet

#tcpdump - packet log
service log-packet /system/bin/sh /system/etc/logger_packet.sh
    class main
	disabled
	oneshot

on property:persist.service.packet.enable=1
	start log-packet

on property:persist.service.packet.enable=0
	stop log-packet

# LGE_CHANGE_S, [Data_Patch_027] [hwansuk.kang@lge.com], 2011-08-19 <Packet Capture Support in Log Service>
service logging_packet /system/xbin/tcpdump -i any -C 4 -W 10 -Z root -s 0 -w /mnt/sdcard/log/packet.pcap
	disabled
	oneshot

on property:persist.service.logging_packet=1
	start logging_packet

on property:persist.service.logging_packet=0
	stop logging_packet

# LGE_CHANGE_E, [Data_Patch_027] [hwansuk.kang@lge.com], 2011-08-19 <Packet Capture Support in Log Service>


# 20120131 gunwoo1.kim@lge.com [SmartLogService] service and property definition for logging [START]

on boot
    chown system system /sys/power/lge_logstart
    chmod 0660 /sys/power/lge_logstart

service logging_prepare /system/bin/sh /etc/logging_prepare.sh
	disabled
	oneshot

on property:persist.service.logging_prepare=1
	start logging_prepare

on property:persist.service.logging_prepare=0
	stop logging_prepare

service logging_android /system/bin/sh /etc/logging_android.sh
	disabled

on property:persist.service.logging_android=1
	start logging_android

on property:persist.service.logging_android=0
	stop logging_android

service alogging_main /system/bin/sh /etc/logging_android_apart.sh main
	disabled

on property:persist.service.alogging_main=1
	start alogging_main

on property:persist.service.alogging_main=0
	stop alogging_main

service alogging_system /system/bin/sh /etc/logging_android_apart.sh system
	disabled

on property:persist.service.alogging_system=1
	start alogging_system

on property:persist.service.alogging_system=0
	stop alogging_system

service alogging_radio /system/bin/sh /etc/logging_android_apart.sh radio
	disabled

on property:persist.service.alogging_radio=1
	start alogging_radio

on property:persist.service.alogging_radio=0
	stop alogging_radio

service alogging_events /system/bin/sh /etc/logging_android_apart.sh events
	disabled

on property:persist.service.alogging_events=1
	start alogging_events

on property:persist.service.alogging_events=0
	stop alogging_events

service logging_kernel /system/bin/sh /etc/logging_kernel.sh
	disabled

on property:persist.service.logging_kernel=1
	start logging_kernel

on property:persist.service.logging_kernel=0
	stop logging_kernel

service alogging_kernel /system/bin/sh /etc/logging_kernel_apart.sh
	disabled

on property:persist.service.alogging_kernel=1
	start alogging_kernel

on property:persist.service.alogging_kernel=0
	stop alogging_kernel

# 20120131 gunwoo1.kim@lge.com [SmartLogService] service and property definition for logging [END]

