
on fota-init
    wait /dev/block/mmcblk0
    chown system lg_fota /dev/block/mmcblk0
    chmod 0770 /dev/block/mmcblk0

on fota-boot
    mkdir /data/fota 0774  system lg_fota
    chown system lg_fota /data/fota
    chown system lg_fota /dev/block/mmcblk0
    chown system lg_fota /dev/block/platform/msm_sdcc.1/by-name/fota
    chmod 0774 /data/fota

